@import '../../styles/styles.scss';

.portfolio {
  width: 100%;
  background-color: $background-grey;
  padding-bottom: 70px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    flex-direction: column;

    h1 {
      font-size: 48px;
      margin-top: 20px;
    }

    .categories {
      display: flex;
      margin-top: 40px;
    }
  }

  .item {
    padding: 0px 30px;
    display: flex;
    height: 100%;
    margin: 50px 0px;

    .image {
      flex: 6;
      max-height: 100%; 
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5 ease;
      border-radius: 5px;
      cursor: pointer;
      background-color: $black;

      h3 {
        position: absolute;
        font-size: 22px;
      }

      img {
        max-width: 100%;
        z-index: 1;
      }

      &:hover {
        background-color: $black;
        
        img {
          opacity: 0.4;
          z-index: 0;
        }
      }
    }

    .description {
      flex: 6;
      padding: 0px 0px 0px 20px;
      height: 320px;

      .buttons {
        display: flex;

        .react_button {
          background-color: #1c2c4c;
          padding: 5px 10px;
          border-radius: 5px;
          color: #88dded;
          margin-right: 5px;

          span {
            font-size: 14px;
          }
        }

        .nodejs_button {
          background-color: #46483d;
          padding: 5px 10px;
          border-radius: 5px;
          color: #81cf08;
          margin-right: 5px;

          span {
            font-size: 14px;
          }
        }

        .express_button {
          background-color: #f0db4f;
          padding: 5px 10px;
          border-radius: 5px;
          color: #323330;
          margin-right: 5px;

          span {
            font-size: 14px;
          }
        }

        .mongodb_button {
          background-color: #52ac43;
          padding: 5px 10px;
          border-radius: 5px;
          color: #462e23;
          margin-right: 5px;

          span {
            font-size: 14px;
          }
        }
      }

      .content {

        h1 {
          padding: 20px 0px;
        }

        span {
          font-size: 18px;
        }
      }

      .summary {
        display: flex;
        margin-top: 25px;
        position: relative;
        bottom: 0;
        
        .button {
          background-color: $black;
          padding: 10px 10px;
          border-radius: 5px;
          margin-right: 5px;
          color: white;

          span {
            font-size: 18px;
          }
        }
      }
    }
  }


}