@import '../../styles/styles.scss';

.portfolio {
  min-height: calc(100vh - 70px);
  width: 100%;
  background-color: $background-grey;
  padding-bottom: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    flex-direction: column;

    h1 {
      font-size: 48px;
      margin-top: 20px;
    }

    .categories {
      display: flex;
      margin-top: 30px;
      padding: 0px;
    }
  }

  .list {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .project {
      flex: 0 0 335px;
      margin: 20px;
      background-color: white;
      box-shadow: 0px 0px 22px -3px rgba(66, 68, 90, 1);

      .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;

        img {
          object-fit: cover;
          max-width: 100%;

        }

        p  {
          position: absolute;
          display: none;
        }

        &:hover {
          background-color: $black;

          img {
            opacity: 0.4;
            z-index: 0;
          }

          p {
            display: block;
          }
        }
      }

      .content {
        padding: 10px;
        position: relative;

        .buttons {
          display: flex;
          justify-content: space-between;

          .react_button {
            background-color: #1c2c4c;
            padding: 5px;
            border-radius: 5px;
            color: #88dded;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .vue_button {
            background-color: #41b883;
            padding: 5px;
            border-radius: 5px;
            color: #35495e;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .nextjs_button {
            background-color: #f4f5f5;
            padding: 5px;
            border-radius: 5px;
            color: #141414;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .nuxtjs_button {
            background-color: #f4f5f5;
            padding: 5px;
            border-radius: 5px;
            color: #2d475c;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .javascript_button {
            background-color: #f0dc4e;
            padding: 5px;
            border-radius: 5px;
            color: #2e302c;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .bootstrap_button {
            background-color: #563d7c;
            padding: 5px;
            border-radius: 5px;
            color: white;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .typescript_button {
            background-color: #2d79c7;
            padding: 5px;
            border-radius: 5px;
            color: white;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }

          .tailwind_button {
            background-color: #07b6d4;
            padding: 5px;
            border-radius: 5px;
            color: black;
            margin-right: 5px;

            span {
              font-size: 12px;
            }
          }
        }

        h3 {
          padding: 10px 0px;
        }

        .summary {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          .button {
            background-color: $black;
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 5px;
            color: white;
            text-decoration: none;

            span {
              font-size: 14px;
            }

            &:hover {
              color: $font-gray;
            }
          }
        }
      }
    }
  }
}

// Media queries

@media (max-width: 1200px) {
  .portfolio {
    .list {
      justify-content: center;
      .project {
        flex: 0 0 400px;
      }
    }
  }
}

@media (max-width: 992px) {
  .portfolio {
    .list {
      .project {
        flex: 0 0 310px;
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    .list {
      .project {
        flex: 0 0 235px;
        margin: 10px;
      }
    }
  }
}

@media (max-width: 576px) {
  .portfolio {
    padding-top: 70px;
    .header {
      .categories {
        padding: 0px 30px;
        flex-wrap: wrap;
      }
    }
    .list {
      margin-top: 10px;
      .project {
        flex: 0 0 305px;
        margin: 20px 0px;
      }
    }
  }
}

@media (max-width: 368px) {
  .portfolio {
    .list {
      .project {
        flex: 0 0 215px;
        margin: 20px 0px;
      }
    }
  }
}